/*
* Mendix Documentation
* Special styles for presenting profilecard building block
*/


/*
* Dashboard Stats
*
* Used in dashboard
*/

.dashboardstat {

	@media (max-width: $screen-md) {
		
	}

	.dashboardstat-left,
	.dashboardstat-right {

	}
}
.dashboardstat-icon {
	padding: 20px 14px;

	@media (max-width: $screen-md) {
		
	}
}
.dashboardstat-title {
	font-size: 15px;
	padding-top: 5px;
	color: $color-text-white;

	label {
		font-weight: 300;

	}

	@media (max-width: $screen-md) {
		
	}
}
.dashboardstat-number {
	font-size: 65px;
	color: #fff;

	label {
		font-weight: 300;
	}
	@media (max-width: $screen-md) {
		
	}
}
