/* ==========================================================================
   Profile Card
========================================================================== */
.profilecard {

	.profilecard-contentwrapper {
		
	}
	.profilecard-imgwrapper {
		
	}
	.profilecard-actionwrapper {
	
	}
	.profilecard-contentwrapper,
	.profilecard-imgwrapper,
	.profilecard-actionwrapper {
		
	}
}
.profilecard-btn {

}
.profilecard-img {
	background: rgba(0,0,0,0.3);
	border: none;
}
.profilecard-title {

}
.profilecard-subtitle {
	color: $color-text-white-secondary;
}
.pageheader .profilecard {
	
}
