/*
* Base
*
* Default settings
*/

body {
	background-image: url(../../img/ocean.jpg);
  	background-size: 100% 100%;
  	background-attachment: fixed;

}
a {

}
a:hover {

}
a:focus {
	
}
a:active, 
a:hover {
  
}
input:focus, 
button:focus,
.mx-link:focus {
  
}
