/* ==========================================================================
   Inputs
========================================================================== */
.form-control {
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid $color-text-white-hint;
	color: $color-text-white;
}
textarea.form-control {
	
}
.form-control:focus {
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid $color-text-white-hint;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255, 255, 255, 0.6);
}
// Not editable textarea, textarea will be rendered as a label
.mx-textarea label {
	
}
// Input and textarea get properly aligned
.form-group div[class*='textBox'] > label,
.form-group div[class*='textArea'] > label {

}
// Inputs Readonly
.disabled-input {
	label {
		background-color: rgba(238, 238, 238, 0.09) !important;
	}
}
// Inputs Readonly
.readonly-input {
	label { 
		
	}
}
.readonly-input-alert label {
	
}

