/* ==========================================================================
   Regions

   Used for navigation layouts
========================================================================== */
.region-topbar {
  	border-bottom: 1px solid $color-text-white-hint;

	> .mx-layoutcontainer-wrapper {
		.mx-navbar {
			background-color: transparent;
			ul.nav {
				li {
					a {
						/* Styles here */
					}
				}
			}
		}
	}

	.toggle-btn {
		border-color: #FFF;
		color: $color-text-white;
	}

	// SSO widgets
	.navbar-right {
		min-height: $minimalheight-topbar;
		.mx-appswitcher-button-placeholder,
		.mx-profilemenu-button-placeholder {
			display: inline-block;
			border-left: 1px solid $color-text-white-hint;
			width: $minimalheight-topbar;
			height: $minimalheight-topbar;
			position: relative;
			float: left;
			iframe {
				width: 48px;
				height: 48px;

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto auto;
			}
			@media (max-width: 768px) {
				display: none;
			}
		}
		.mx-profilemenu-button-placeholder {
			margin-right: 10px;
		}
	}
}

.region-sidebar,
.region-sidebar-fixed {
	border-right: 1px solid $color-text-white-hint;
	> .mx-layoutcontainer-wrapper {
		/* Styles here */
	}
	.mx-navigationtree .navbar-inner ul li a {
		background: transparent;
	}
	&.mx-scrollcontainer-toggleable {
		background-color: $color-inverse;
	}
}
.region-content {
	> .mx-layoutcontainer-wrapper {

	}
}


/* ==========================================================================
   Navbar Brand

   Used to style your app brand and logo
========================================================================== */
.navbar-brand {
	/* Styles here */
	img {
		/* Styles here */
	}
	a {
		color: $color-text-white;

		&:hover,
		&:focus {
			color: $color-text-white;
		}
	}
}
